.admin-management-container {
  padding: 24px;
  background: #fff;
  min-height: 100vh;
}

.admin-management-container .ant-table-wrapper .ant-table-pagination {
  justify-content: center !important;
  width: 100%;
  margin: 16px 0 0;
}
